@import "tailwindcss";

@theme {
   --color-primary-50: #fafafa;
   --color-primary-100: #f5f5f5;
   --color-primary-200: #e6e6e6;
   --color-primary-300: #d3d3d3;
   --color-primary-400: #a3a3a3;
   --color-primary-500: #727272;
   --color-primary-600: #606060;
   --color-primary-700: #404040;
   --color-primary-800: #272727;
   --color-primary-900: #1a1a1a;
   --color-primary-950: #0b0b0b;
}

html {
   scrollbar-gutter: stable;
   scrollbar-color: var(--color-primary-600) transparent;
}

body {
   font-family: Poppins, sans-serif;
   color: var(--color-primary-600);
   background-color: var(--color-primary-50);
}

h1 {
   font-family: Outfit, sans-serif;
}

@utility debug {
   @apply border border-red-500;
}

@utility btn {
   @apply inline-flex cursor-pointer items-center gap-1 rounded-xl bg-primary-600 p-2.5 px-4 text-white shadow-lg hover:bg-primary-500 active:scale-98;
}

@keyframes expand-height {
   from {
      height: var(--collapsed-height, 0);
   }
   to {
      height: var(--height);
   }
}
@keyframes collapse-height {
   from {
      height: var(--height);
   }
   to {
      height: var(--collapsed-height, 0);
   }
}
@keyframes fade-in {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes fade-out {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
